@charset "UTF=8";

/* Styles for the whole web page */
html {
    display: block;
}

/* Styles for the body of the web page */
body {  
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/bg\ image.png);
}

/* Styles for the title */
header {
    margin-top: 5%;
    margin-bottom: -1%;
    font-size: 300%;
    text-align: center;
    font-family: Castellar;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Styles for navigation bar */
ul {
    text-align: center;
    list-style-type: none;
    font-size: 175%;
    font-family: Garamond, serif;
    background-color: rgba(175, 222, 247, 0.8);
    border: 1px solid #1a84a8;
    border-width: 3px;
    padding: 5px;
}

/* Styles for nav bar */
li {
    display: inline;
}

/* Styles for nav bar links */
li a {
    color: #2f2f2f;
    text-decoration: none;
    transition: background-color 0.4s ease; 
    border-radius: 10px; 
}

/* Styles for nav bar links on hover */
li a:hover {
    background-color: rgba(26, 132, 168, 0.5);
}

/* Styles for h3 titles */
h3 {
    font-size: 250%;
    font-family: Garamond, serif;
    font-weight: 300;
    background-color: rgb(175, 222, 247, 0.8);
    border: 2px solid #1a84a8;
    width: 200px;
    height: 50px;
    padding: 2%;
}

/* Styles for the dolphin title */
#dolph {
    font-size: 250%;
    font-family: Garamond, serif;
    font-weight: 300;
    background-color: rgb(175, 222, 247, 0.8);
    border: 2px solid #1a84a8;
    width: 350px;
    height: 50px;
    padding: 2%;
}

/* Styles for paragraphs */
.paragraph {
    font-size: 175%;
    font-family: Garamond, serif;
    background-color: rgb(175, 222, 247, 0.8);
    border: 2px solid #1a84a8;
    width: auto;
    height: auto;
    padding: 5%;
}

/* Styles for the intro paragraph */
#intro {
    font-size: 175%;
    font-family: Garamond, serif;
    text-align: center;
    background-color: rgb(175, 222, 247, 0.8);
    border: 2px solid #1a84a8;
    width: auto;
    height: 100px;
}

/* Styles for the dolphin image */
#dolphin {
    display: block;
    float: right;
    border: 2px solid #1a84a8;
    margin-left: 5%;
    height: 370px;
}

/* Styles for the seal image */
#seal {
    display: block;
    float: left;
    border: 4px solid #1a84a8;
    height: 400px;
    margin-right: 10%;
}

/* Styles for the jellyfish image */
#jellyfish {
    display: block;
    float: right;
    border: 2px solid #1a84a8;
    margin-left: 5%;
    height: 400px;
}

/* Styles for the crab image */
#crab {
    display: block;
    float: left;
    border: 2px solid #1a84a8;
    height: 350px;
    margin-right: 10%;
}

/* Styles for the cod image*/
#Cod {
    display: block;
    float: right;
    border: 2px solid #1a84a8;
    margin-left: 5%;
    height: 350px;
}
