@charset "UTF=8";

/* Styles for all of the web page */
html {
    display: block;
}

/* Styles for the body of the web page */
body {  
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/bg\ image.png);
}

/* Styles for title*/
header {
    margin-top: 5%;
    margin-bottom: -1%;
    font-size: 300%;
    text-align: center;
    font-family: Castellar;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Styles for navigation bar */
ul {
    text-align: center;
    list-style-type: none;
    font-size: 175%;
    font-family: Garamond, serif;
    background-color: rgba(175, 222, 247, 0.8);
    border: 1px solid #1a84a8;
    border-width: 3px;
    padding: 5px;
}

/* Styles for nav bar */
li {
    display: inline;
}

/* Styles for nav bar links */
li a {
    color: #2f2f2f;
    text-decoration: none;
    transition: background-color 0.4s ease; 
    border-radius: 10px; 
}

/* Styles for nav bar links on hover */
li a:hover {
    background-color: rgba(26, 132, 168, 0.5);
}

/* Styles for h3 titles */
h3 {
    font-size: 250%;
    font-family: Garamond, serif;
    font-weight: 300;
    background-color: rgb(175, 222, 247, 0.8);
    border: 2px solid #1a84a8;
    width: 200px;
    height: 50px;
    padding: 2%;
}

/* Styles for the info paragraph */
.info { 
    font-size: 175%;
    font-family: Garamond, serif;
    background-color: rgb(175, 222, 247, 0.8);
    border: 2px solid #1a84a8;
    width: auto;
    height: auto;
    padding: 5%;
}

/* Styles for doe image */
#doepic {
    display: block;
    float: right;
    border: 2px solid #1a84a8;
    margin-left: 5%;
    height: 455px;
}

/* Styles for fox image */
#foxpic {
    display: block;
    float: left;
    border: 2px solid #1a84a8;
    margin-right: 10%;
    height: 350px;
}

/* Styles for the hare image and video in border class */
.border {
    text-align: center;
}

/* Styles for elements with the hare class */
.hare {
    border: 2px solid #1a84a8;
    display: inline-block;
}

/* Styles for hare image */
#harepic {
    width: 300px;
    height: 360px;
}

/* Styles for hare video */
#harevideo {
    width: 560px;
    height: 360px;
    
}


/* Styles for sheep images */
#sheeppic {
    display: inline-block;
    border: 2px solid #1a84a8;
    width: auto;
    height: 300px;
    margin-left: 2.75%;
}

/* Styles for pony image */
#pony {
    display: block;
    float: right;
    border: 2px solid #1a84a8;
    height: 400px;
}

/* Styles for h3 title with class animal */
.animal {
    font-size: 250%;
    font-family: Garamond, serif;
    font-weight: 300;
    background-color: rgb(175, 222, 247, 0.8);
    border: 2px solid #1a84a8;
    width: 300px;
    height: 50px;
    padding: 2%;
}


